/* MAIN PAGE */

.menu-toolbar {
  display: flex;
  justify-content: space-around;
}

.menu-link {
  color: white;
}

.main-title {
  margin-top: 100px !important;
  text-align: center;
}

/* MODAL */

.modal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 10px;
}

.modal-btn {
  width: 90% !important;
  margin-top: 25px !important;
  margin-bottom: 40px !important;
}

/* REFILL PAGE */

.refill-card {
  margin: 150px auto;
  padding-top: 50px;

  max-width: 75%;
  display: flex;
  justify-content: center;
}

.refill-form {
  display: flex;
  flex-direction: column;
}

.refill-control {
  display: block !important;
  position: static !important;
}

.MuiInputLabel-formControl {
  position: static !important;
  transform: unset !important;
}

.MuiFormLabel-root {
  margin-top: 25px !important;
}
